/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.modal-window-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-window-wrapper__window {
  position: relative;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fffced;
  padding: 20px;
  border-radius: 10px;
}
.modal-window-wrapper__window .modal-window-wrapper__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  background-image: url(../../images/cross.png);
  background-size: cover;
}
.modal-window-wrapper__window .modal-window-wrapper__headline {
  align-self: center;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: black;
  padding-inline: 40px;
}
.modal-window-wrapper__window .modal-window-wrapper__text-info {
  text-align: center;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: black;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in {
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing {
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok {
  align-self: center;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper {
  margin-bottom: 20px;
  display: grid;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__current-speed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
  justify-self: end;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-speed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.modal-window-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-window-wrapper__window {
  position: relative;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fffced;
  padding: 20px;
  border-radius: 10px;
}
.modal-window-wrapper__window .modal-window-wrapper__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  background-image: url(../../images/cross.png);
  background-size: cover;
}
.modal-window-wrapper__window .modal-window-wrapper__headline {
  align-self: center;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: black;
  padding-inline: 40px;
}
.modal-window-wrapper__window .modal-window-wrapper__text-info {
  text-align: center;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: black;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in {
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing {
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok {
  align-self: center;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper {
  margin-bottom: 20px;
  display: grid;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__current-speed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
  justify-self: end;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-speed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
}

.header {
  background-color: #181818;
}
.header__container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.header__container .header__main-headline {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: white;
}
.header__container .header__nav {
  display: flex;
}
.header__container .header__nav .header__nav-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__container .header__nav .header__nav-list .header__nav-list-item {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav .header__nav-list .header__nav-list-item:hover {
  transform: scale(1.1);
}
.header__container .header__nav .header__nav-list .header__nav-list-item:hover > .section-link > .section-link__text {
  color: #ffec8b;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.modal-window-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-window-wrapper__window {
  position: relative;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fffced;
  padding: 20px;
  border-radius: 10px;
}
.modal-window-wrapper__window .modal-window-wrapper__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  background-image: url(../../images/cross.png);
  background-size: cover;
}
.modal-window-wrapper__window .modal-window-wrapper__headline {
  align-self: center;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: black;
  padding-inline: 40px;
}
.modal-window-wrapper__window .modal-window-wrapper__text-info {
  text-align: center;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: black;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in {
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-sign-in:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing {
  max-width: 200px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-start-anyway:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-confirm-cancellation:hover,
.modal-window-wrapper__window .modal-window-wrapper__btns-wrapper .modal-window-wrapper__btn-resume-typing:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok {
  align-self: center;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-wrapper__window .modal-window-wrapper__btn-ok:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper {
  margin-bottom: 20px;
  display: grid;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__current-speed-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount-label,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
  justify-self: end;
}
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__whole-time,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-typed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__symbols-speed,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-amount,
.modal-window-wrapper__window .modal-window-wrapper__stats-wrapper .modal-window-wrapper__mistakes-percent {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
}

.footer {
  background-color: #181818;
}
.footer__container {
  padding: 40px 20px;
}
.footer__container .footer__git-link-wrapper {
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s;
}
.footer__container .footer__git-link-wrapper:hover {
  transform: scale(1.1);
}
.footer__container .footer__git-link-wrapper:hover > .section-link > .section-link__text {
  color: #ffec8b;
}

.main {
  flex-grow: 1;
  background-color: #eff9da;
}
.main__container {
  padding: 20px;
}
.main__container .main__personal-area-headline {
  margin-bottom: 10px;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: black;
  text-align: center;
}
.main__container .main__statistics-wrapper {
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}
.main__container .main__statistics-wrapper .main__statistics-headline {
  margin-bottom: 10px;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
}
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper {
  display: grid;
  justify-items: start;
  align-items: center;
  row-gap: 15px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__nickname-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__total-workouts-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__whole-symbols-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__average-speed-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__max-average-speed-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__whole-mistakes-label,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__average-mistakes-percent-label {
  justify-self: end;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: white;
}
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__nickname,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__total-workouts,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__whole-symbols,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__average-speed,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__max-average-speed,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__whole-mistakes,
.main__container .main__statistics-wrapper .main__statistics-elements-wrapper .main__average-mistakes-percent {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: white;
}/*# sourceMappingURL=personal-area.css.map */