/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.header {
  background-color: #181818;
}
.header__container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.header__container .header__main-headline {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: white;
}
.header__container .header__nav {
  display: flex;
}
.header__container .header__nav .header__nav-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__container .header__nav .header__nav-list .header__nav-list-item {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav .header__nav-list .header__nav-list-item:hover {
  transform: scale(1.1);
}
.header__container .header__nav .header__nav-list .header__nav-list-item:hover > .section-link > .section-link__text {
  color: #ffec8b;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.hidden-element {
  display: none !important;
}

.appeared-block {
  display: block !important;
}

.appeared-inline-block {
  display: inline-block !important;
}

.appeared-inline {
  display: inline !important;
}

.appeared-flex {
  display: flex !important;
}

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
}
.section-link__img {
  width: 30px;
  height: 30px;
}
.section-link__img_bigger {
  width: 50px;
  height: 50px;
}
.section-link__text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.footer {
  background-color: #181818;
}
.footer__container {
  padding: 20px;
}
.footer__container .footer__git-link-wrapper {
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s;
}
.footer__container .footer__git-link-wrapper:hover {
  transform: scale(1.1);
}
.footer__container .footer__git-link-wrapper:hover > .section-link > .section-link__text {
  color: #ffec8b;
}

.typing-word {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.active-word {
  color: #48cae4;
  text-decoration: underline;
}

.main {
  flex-grow: 1;
  background-color: #fffced;
}
.main__container {
  padding: 20px;
}
.main__container .main__printing-section-headline {
  margin-bottom: 10px;
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: black;
  text-align: center;
}
.main__container .main__choose-sentences-amount-wrapper {
  margin-bottom: 20px;
  display: grid;
  justify-items: start;
  align-items: center;
  row-gap: 15px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.main__container .main__choose-sentences-amount-wrapper .main__choose-sentences-amount-label,
.main__container .main__choose-sentences-amount-wrapper .main__current-sentences-amount-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: black;
  justify-self: end;
}
.main__container .main__choose-sentences-amount-wrapper .main__current-sentences-amount {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: black;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #181818;
  outline: none;
  border-radius: 5px;
  height: 10px;
  opacity: 0.7;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider:hover {
  opacity: 1;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #48cae4;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider::-webkit-slider-thumb:hover {
  background: #0096c7;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #48cae4;
}
.main__container .main__choose-sentences-amount-wrapper .main__sentences-amount-slider-wrapper .main__sentences-amount-slider::-moz-range-thumb:hover {
  background: #0096c7;
}
.main__container .main__btn-start-typing {
  display: block;
  margin: 0 auto 20px;
  max-width: 250px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main__container .main__btn-start-typing:hover {
  transform: scale(1.1);
  color: #ffec8b;
}
.main__container .main__typing-area-wrapper {
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper {
  margin-bottom: 20px;
  display: grid;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__whole-time-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
  justify-self: end;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__whole-time {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__symbols-typed-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
  justify-self: end;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__symbols-typed {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__current-speed-label {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
  justify-self: end;
}
.main__container .main__typing-area-wrapper .main__typing-stats-wrapper .main__symbols-typed {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: white;
}
.main__container .main__typing-area-wrapper .main__typing-text-input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main__container .main__typing-area-wrapper .main__typing-text-input-wrapper .main__typing-text-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.main__container .main__typing-area-wrapper .main__typing-text-input-wrapper .main__typing-text-wrapper .main__typing-text-start-msg {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.main__container .main__typing-area-wrapper .main__typing-text-input-wrapper .main__typing-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  border-radius: 5px;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: black;
  padding: 10px 12px;
}/*# sourceMappingURL=main.css.map */