@import "../glStyle/vars";
@import "../glStyle/template";
@import "../glStyle/header";
@import "../glStyle/footer";

.typing-word {
  @include default-p(20px, 20px, $text-light-color);
}

.active-word {
  color: $light-blue-color !important;
  text-decoration: underline !important;
}

.input-with-error {
  color: $text-light-color !important;
  background-color: $red-color !important;
}

.modal-window-wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__window {
    position: relative;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: $light-bg-color;
    padding: 20px;
    border-radius: 10px;
    .modal-window-wrapper__close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      background-color: transparent;
      background-image: url(../../images/cross.png);
      background-size: cover;
    }
    .modal-window-wrapper__headline {
      align-self: center;
      @include default-h(48px, 48px, $text-dark-color);
      padding-inline: 40px;
    }
    .modal-window-wrapper__text-info {
      text-align: center;
      @include default-p(28px, 28px, $text-dark-color);
    }
    .modal-window-wrapper__btns-wrapper {
      display: flex;
      justify-content: space-evenly;
      .modal-window-wrapper__btn-sign-in {
        text-decoration: none;
        @include default-btn(200px, $text-light-color, $dark-bg-color);
      }
      .modal-window-wrapper__btn-start-anyway,
      .modal-window-wrapper__btn-confirm-cancellation,
      .modal-window-wrapper__btn-resume-typing {
        @include default-btn(200px, $text-light-color, $dark-bg-color);
      }
    }
    .modal-window-wrapper__btn-ok {
      align-self: center;
      @include default-btn(300px, $text-light-color, $dark-bg-color);
    }
    .modal-window-wrapper__stats-wrapper {
      margin-bottom: 20px;
      display: grid;
      row-gap: 5px;
      column-gap: 10px;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
      .modal-window-wrapper__whole-time-label,
      .modal-window-wrapper__symbols-typed-label,
      .modal-window-wrapper__current-speed-label,
      .modal-window-wrapper__mistakes-amount-label,
      .modal-window-wrapper__mistakes-percent-label {
        @include default-p(24px, 24px, $text-dark-color);
        justify-self: end;
      }
      .modal-window-wrapper__whole-time,
      .modal-window-wrapper__symbols-typed,
      .modal-window-wrapper__symbols-speed,
      .modal-window-wrapper__mistakes-amount,
      .modal-window-wrapper__mistakes-percent {
        @include default-p(24px, 24px, $text-dark-color);
      }
    }
  }
}

.main {
  flex-grow: 1;
  background-color: $light-bg-color;
  &__container {
    padding: 20px;
    .main__printing-section-headline {
      margin-bottom: 10px;
      @include default-h(36px, 36px, $text-dark-color);
      text-align: center;
    }
    .main__choose-sentences-amount-wrapper {
      margin-bottom: 20px;
      display: grid;
      justify-items: start;
      align-items: center;
      row-gap: 15px;
      column-gap: 30px;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      .main__choose-sentences-amount-label,
      .main__current-sentences-amount-label {
        @include default-p(28px, 28px, $text-dark-color);
        justify-self: end;
      }
      .main__current-sentences-amount {
        @include default-p(28px, 28px, $text-dark-color);
      }
      .main__sentences-amount-slider-wrapper {
        .main__sentences-amount-slider {
          -webkit-appearance: none;
          appearance: none;
          background-color: $dark-bg-color;
          outline: none;
          border-radius: 5px;
          height: 10px;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $light-blue-color;
            &:hover {
              background: $dark-blue-color;
            }
          }
          &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $light-blue-color;
            &:hover {
              background: $dark-blue-color;
            }
          }
        }
      }
    }
    .main__btn-start-typing {
      display: block;
      margin: 0 auto 20px;
      @include default-btn(250px, $text-light-color, $dark-bg-color);
    }
    .main__typing-area-wrapper {
      max-width: 1600px;
      margin: 0 auto;
      background-color: $dark-bg-color;
      padding: 20px;
      border-radius: 10px;
      .main__typing-stats-wrapper {
        margin-bottom: 20px;
        display: grid;
        row-gap: 5px;
        column-gap: 10px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        .main__whole-time-label,
        .main__symbols-typed-label,
        .main__current-speed-label,
        .main__mistakes-amount-label,
        .main__mistakes-percent-label {
          @include default-p(24px, 24px, $text-light-color);
          justify-self: end;
        }
        .main__whole-time,
        .main__symbols-typed,
        .main__symbols-speed,
        .main__mistakes-amount,
        .main__mistakes-percent {
          @include default-p(24px, 24px, $text-light-color);
        }
      }
      .main__typing-text-input-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .main__typing-text-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          .main__typing-text-start-msg {
            @include default-p(20px, 20px, $text-light-color);
          }
        }
        .main__typing-input {
          -webkit-appearance: none;
          appearance: none;
          outline: none;
          border-radius: 5px;
          @include default-p(24px, 24px, $text-dark-color);
          padding: 10px 12px;
        }
      }
    }
  }
}
