@import "../glStyle/vars";
@import "../glStyle/template";
@import "../glStyle/header";
@import "../glStyle/footer";

.typing-word {
  @include default-p(20px, 20px, $text-light-color);
}

.active-word {
  color: $light-blue-color !important;
  text-decoration: underline !important;
}

.input-with-error {
  color: $text-light-color !important;
  background-color: $red-color !important;
}

.main {
  flex-grow: 1;
  background-color: $light-bg-color;
  &__container {
    padding: 20px;
    .main__printing-section-headline {
      margin-bottom: 10px;
      @include default-h(36px, 36px, $text-dark-color);
      text-align: center;
    }
    .main__choose-sentences-amount-wrapper {
      margin-bottom: 20px;
      display: grid;
      justify-items: start;
      align-items: center;
      row-gap: 15px;
      column-gap: 30px;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: $tablet-l) {
        justify-items: center;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
      }
      @media (max-width: $phone-l) {
        row-gap: 5px;
      }
      .main__choose-sentences-amount-label,
      .main__current-sentences-amount-label {
        @include default-p(28px, 28px, $text-dark-color);
        justify-self: end;
        text-align: center;
        @media (max-width: $tablet-l) {
          justify-self: auto;
        }
      }
      .main__current-sentences-amount {
        @include default-p(28px, 28px, $text-dark-color);
      }
      .main__sentences-amount-slider-wrapper {
        .main__sentences-amount-slider {
          -webkit-appearance: none;
          appearance: none;
          background-color: $dark-bg-color;
          outline: none;
          border-radius: 5px;
          height: 10px;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $light-blue-color;
            &:hover {
              background: $dark-blue-color;
            }
          }
          &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $light-blue-color;
            &:hover {
              background: $dark-blue-color;
            }
          }
        }
      }
    }
    .main__btn-start-typing {
      display: block;
      margin: 0 auto 20px;
      @include default-btn(250px, $text-light-color, $dark-bg-color);
    }
    .main__typing-area-wrapper {
      max-width: 1600px;
      margin: 0 auto;
      background-color: $dark-bg-color;
      padding: 20px;
      border-radius: 10px;
      @media (max-width: $tablet-s) {
        padding: 10px;
      }
      .main__typing-stats-wrapper {
        margin-bottom: 20px;
        display: grid;
        row-gap: 5px;
        column-gap: 10px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $tablet-s) {
          justify-items: center;
          row-gap: 0;
          grid-template-rows: repeat(10, 1fr);
          grid-template-columns: repeat(1, 1fr);
        }
        .main__whole-time-label,
        .main__symbols-typed-label,
        .main__current-speed-label,
        .main__mistakes-amount-label,
        .main__mistakes-percent-label {
          @include default-p(24px, 24px, $text-light-color);
          justify-self: end;
          @media (max-width: $tablet-s) {
            @include default-p(18px, 18px, $text-light-color);
            justify-self: auto;
          }
        }
        .main__whole-time,
        .main__symbols-typed,
        .main__symbols-speed,
        .main__mistakes-amount,
        .main__mistakes-percent {
          @include default-p(24px, 24px, $text-light-color);
          @media (max-width: $tablet-s) {
            @include default-p(18px, 18px, $text-light-color);
            margin-bottom: 10px;
          }
        }
      }
      .main__typing-text-input-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .main__typing-text-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          .main__typing-text-start-msg {
            @include default-p(20px, 20px, $text-light-color);
          }
        }
        .main__typing-input {
          -webkit-appearance: none;
          appearance: none;
          outline: none;
          border-radius: 5px;
          @include default-p(24px, 24px, $text-dark-color);
          padding: 10px 12px;
        }
      }
    }
  }
}
