@import "./vars";
@import "./template";

.footer {
  background-color: $dark-bg-color;
  &__container {
    padding: 20px;
    .footer__git-link-wrapper {
      max-width: 280px;
      margin: 0 auto;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      &:hover > .section-link > .section-link__text {
        color: $link-active-color;
      }
    }
  }
}
