@import "./vars";
@import "./template";

.header {
  position: relative;
  background-color: $dark-bg-color;
  &__container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
    .header__main-headline {
      @include default-h(45px, 45px, $text-light-color);
      @media (max-width: $laptop-l) {
        font-size: 36px;
        line-height: 36px;
      }
      @media (max-width: $laptop-s) {
        font-size: 32px;
        line-height: 32px;
      }
    }
    .header__burger-menu-btn {
      width: 35px;
      height: 35px;
      background: url(../../images/burger-bar.png);
      background-size: cover;
      border: none;
      cursor: pointer;
      display: none;
      @media (max-width: $tablet-l) {
        display: inline-block;
      }
    }
    .header__nav {
      display: flex;
      @media (max-width: $tablet-l) {
        background-color: $dark-bg-color;
        display: none;
        max-width: 250px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
      }
      .header__nav-list {
        display: flex;
        column-gap: 30px;
        @media (max-width: $laptop-l) {
          column-gap: 15px;
        }
        @media (max-width: $tablet-l) {
          padding: 10px;
          flex-direction: column;
          row-gap: 10px;
        }
        .header__nav-list-item {
          display: flex;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            transform: scale(1.1);
          }
          &:hover > .section-link > .section-link__text {
            color: $link-active-color;
          }
          @media (max-width: $tablet-l) {
            padding: 30px;
            border: 10px $light-black-color solid;
          }
        }
      }
    }
  }
}
