@import "./vars";

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-block {
  display: block !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-inline-block {
  display: inline-block !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-inline {
  display: inline !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

// Default settings of headlines, you only need to choose font size, line height and text color
@mixin default-h($font-size, $line-height, $text-color) {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of paragraphs, you only need to choose font size, line height and text color
@mixin default-p($font-size, $line-height, $text-color) {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Mixin for button, already uses some default settings, but unique parameters are still needed
@mixin default-btn($max-width, $text-color, $bg-color) {
  max-width: $max-width;
  width: 100%;
  padding: 20px;
  font-family: $font;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    color: $link-active-color;
  }
}

// Global container of whole page
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  &__img {
    width: 30px;
    height: 30px;
    &_bigger {
      width: 50px;
      height: 50px;
    }
  }
  &__text {
    transition: 0.3s;
    @include default-p(20px, 20px, $text-light-color);
  }
}
